<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/fstyle.css">
</head>
<body>
	<div class="forgot-pass-container">
		<div class="forgot-pass-header">
			<h2>Forgot Password</h2>
		</div>
		<div class="forgot-pass-body">
			<form action="" method="POST">
				<label for="email">Email</label>
				<input type="email" name="email" required>

				<button type="submit">Submit</button>
			</form>
			<p>Remember your password? <a href="#">Login</a></p>
		</div>
	</div>
</body>
</html>
